<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />	
<style type="text/css">
@font-face {
	font-family: TheSansPlain;
	src: url(<%-dataSrc%>); 
}
body { font-family: TheSansPlain; font-size: 46px; }
td { border: 1px solid white;text-align: center; width: 150px; word-wrap:break-word}
th { background-color: #4472c4; color: white; }
tr {page-break-inside:avoid !important;}
.first {background-color: #cfd5ea;}
.second {background-color: #e9ebf5;}
</style>
</head>
<body>
	<div style="padding-left: 10mm; padding-right: 10mm">
		<div>
				<p  style="font-size:14px; color:#000000;padding-bottom: 15px;">
					THIS IS THE LAST WILL AND TESTAMENT of (&#147;<%= user.full_legal_name %>&#148;) (NRIC No. <%= user.nric %> )
					of <%= user.address_line_1 %> <%= user.address_line_2 %> whereby I revoke all former 
					Wills, Codicils and Testamentary dispositions heretofore made by me and 
					declare this to be my Last Will and Testament.
				</p>
		</div>
		<div>
			<p  style="font-size:14px; color:#000000;padding-bottom: 15px;">
				1. I appoint <%= user.full_legal_name %> ( 1. NRIC No. <%= user.nric %> ) of <%= user.address_line_1 %>
				<%= user.address_line_2 %> to be the Executor and Trustee of this
				Will (collectively &#147;my Trustee&#148;).
			</p>
		</div>
		<div>
			<p id="_15.6" style=" font-size:14px; color:#000000;padding-bottom: 15px;">
			2. In the event my Trustee (&#147;<%= user.full_legal_name %>&#148;) shall become incapacitated within the
			meaning of the Mental Capacity Act Cap 177A or shall for any reason be
			incapable of acting as the Trustee of my estate, I appoint <%= user.full_legal_name %> NRIC No.
			<%= user.nric %> of <%= user.address_line_1 %> <%= user.address_line_2 %> to be my Trustee in place.
			</p>
		</div>
		<div>
			<p style=" font-size:14px; color:#000000">
			3. I DECLARE that in the interpretation of this Will, the expression &#147;my Trustee&#148; 
			shall (where the context permits) mean the trustee or trustees for the time
			being hereof whether original or substituted, and if there be no such trustee it
			shall (where the context permits) include the person(s) empowered by law
			conferred upon the trustee(s) hereof and willing or bound to exercise or
			perform the same.
			</p>
		</div>
		<div>
			<p  style=" font-size:14px; color:#000000">
			4.I direct my Trustee to pay all my just debts and testamentary expenses upon
			my death and to spend such sum as my Trustee shall think fit for my funeral 
			expenses.
			</p>
		</div>
		<div>	
			<p style=" font-size:14px; color:#000000;">
			5.Unless otherwise stipulated, all bequests and gifts made herein shall be
			subject to payment of my just debts, funeral and testamentary expenses and
			estate duty, if any, payable on my death.
			</p>
		</div>
		<div>
			<p style=" font-size:14px; color:#000000">
			6.I GIVE, DEVISE AND BEQUEATH all of my moveable and immovable properties
			whatsoever and wheresoever situate not hereby or by any codicil heretofore
			specifically disposed (including any property over which I may have a general
			power of appointment or disposition by will) and including any reversionary
			interest in any of my assets or properties falling unto my estate after my death 
			as follows:
			<% if (user.beneficiaries.length > 0) { %>
				<ol type="a" style="padding-top:0px; padding-bottom: 0px ; margin: 0;">
					<% user.beneficiaries.forEach(user => {%>
						<li style="font-size:14px; color:#000000"><%= convert.toWords(user.percent) %> percent(<%= user.percent %> %) to <%= user.full_legal_name %> (NRIC No. <%= user.nric %>);<br></li>
					<%	});%>
					<% 
				}%>
			</p>
		</div>	
		<div>
			<p style=" font-size:14px; color:#000000">
			7.In the event any of the beneficiaries referred to in Clause 6 shall predecease 
			me, then the share which such deceased beneficiary of mine would have been
			entitled to had [he/ she] been alive shall lapse absolutely and shall be given to
			the surviving beneficiary, and if more than one, in equal shares.
			</p>
		</div>
		<div>	
			<p  style=" font-size:14px; color:#000000">
			8.In the event that it is not practicable or possible for my Trustee to distribute 
			any of my moveable and immovable properties situate whatsoever and 
			wheresoever situate to the beneficiaries in the manner as directed under this 
			Will, I direct that my Trustee shall have the power to sell, call in and convert 
			the whole or such part or parts of my moveable and immovable properties as 
			shall not consist of cash and at such time or times and in such manner as my 
			Trustee shall in my Trustee&#146;s absolute and uncontrolled discretion think fit with 
			power to postpone such sale calling in and conversion of the same for such 
			period or periods as my Trustee shall in my Trustee&#146;s own absolute and 
			uncontrolled discretion decide and to stand possessed of the monies arising 
			therefrom (hereinafter referred to as &#147;the said monies&#148;) for the purposes of 
			this Will. And my Trustee shall stand possessed of and divide the said monies 
			to the beneficiaries entitled under this Will in such sums as shall represent 
			each beneficiary&#146;s respective entitlement to the same.
			</p>
		</div>	
		<div>
			<p  style=" font-size:14px; color:#000000">	
			9.I DIRECT that in the carrying out and discharge of the trusts and duties 
			hereof, my Trustee shall not be liable for any loss arising as a result of my 
			Trustee concurring or refusing or failing to concur in any exercise of any 
			discretion or power conferred on my Trustee by this Will or any loss arising by 
			reason of any improper investment made in good faith, or by reason of any 
			mistake or omission made in good faith by my Trustee, or by reason of any 
			other matter or thing except wilful fraud or wrong-doing on the part of my 
			Trustee.
			</p>
		</div>	
		<div>
			<p style="font-size:14px; color:#000000;page-break-before: always;">
			IN WITNESS WHEREOF I have hereunto set my hand to this Will this 13th of 
			July 2021 SIGNED by the abovenamed <%= user.full_legal_name %> as his Last Will and Testament 
			in the presence of us both present at the same time who at his request and in 
			his presence and in the presence of each other have hereunto subscribed our 
			names as witnesses:-
			</p>
		</div>	

		<div style="height: 40px;"></div>
		<div>
            <p>
            <hr style="height:1px;border-width:0;color:gray;background-color:black;width:40%;text-align:left;margin-left:0; margin-bottom: 0">
            <p style="font-weight:bold; font-size:14px; color:#000000; margin-top: 0;">
				<%= user.full_legal_name %>
            </p>
            </p>
        </div>
	<div style="height: 20px; "></div>
	<div>
			<div style="float:left;">
			<p>
				<hr style="height:1px;border-width:0;color:gray;background-color:black;width:80%;text-align:left;margin-left:0; margin-bottom: 0">
				<p style="font-weight:bold; font-size:14px; color:#000000; margin-top: 0;">
				Signed by Witness
				</p>
				<p style="font-size:14px; color:#000000; margin-top: 0;">
					Name:
				</p>
				<hr style="height:1px;border-width:0;color:gray;background-color:black;width:80%;text-align:left;margin-left:0; margin-bottom: 0">
				<p style=" font-size:14px; color:#000000">
				NRIC / Passport No. / ID No. :
				</p>
				<hr style="height:1px;border-width:0;color:gray;background-color:black; width:80%;text-align:left;margin-left:0; margin-bottom: 0">
				<p style=" font-size:14px; color:#000000;">
				Address:
				</p> 
				<hr style="height:1px;border-width:0;color:gray;background-color:black;width:80%;text-align:left;margin-left:0; margin-bottom: 0">
				<hr style="height:1px;border-width:0;color:gray;background-color:black;width:80%;text-align:left;margin-left:0; margin-bottom: 0">
				<hr style="height:1px;border-width:0;color:gray;background-color:black;width:80%;text-align:left;margin-left:0; margin-bottom: 0">
			</p>
		</div>
		<div style="float:right;">
			<p>
				<hr style="height:1px;border-width:0;color:gray;background-color:black;width:80%;text-align:right;margin-right:0; margin-bottom: 0">
				<p style="font-weight:bold; font-size:14px; color:#000000; margin-top: 0;margin-left: 62px">
				Signed by Witness
				</p>
				<p style="font-size:14px; color:#000000; margin-top: 0;margin-left: 62px">
					Name:
				</p>
				<hr style="height:1px;border-width:0;color:gray;background-color:black;width:80%;text-align:right;margin-right:0; margin-bottom: 0">
				<p style=" font-size:14px; color:#000000;margin-left: 62px">
				NRIC / Passport No. / ID No. :
				</p>
				<hr style="height:1px;border-width:0;color:gray;background-color:black; width:80%;text-align:right;margin-right:0; margin-bottom: 0">
				<p style=" font-size:14px; color:#000000;margin-left: 62px">
				Address:
				</p> 
				<hr style="height:1px;border-width:0;color:gray;background-color:black;width:80%;text-align:right;margin-right:0; margin-bottom: 0">
				<hr style="height:1px;border-width:0;color:gray;background-color:black;width:80%;text-align:right;margin-right:0; margin-bottom: 0">
				<hr style="height:1px;border-width:0;color:gray;background-color:black;width:80%;text-align:right;margin-right:0; margin-bottom: 0">
			</p>
		</div>
    </div>
    <div style="clear: right;page-break-before: always;">
		<p style="font-size:14px; color:#000000">APPENDIX</p>
        <p style=" font-size:14px; color:#000000; margin-bottom: 0;">
            Schedule Of Assets
        </p> 
        <hr style="height:1px;border-width:0;color:gray;background-color:black; margin-top: 0">
		<p style="font-size:14px; color:#000000">
            This appendix is not legally binding, the information has been added to help 
            the executor. 
		</p>
        <p style="font-size:14px; color:#000000; margin-top: 40px;">LIST OF ASSETS</p>
        <p style="font-size:14px; color:#000000">
			The following is a list of financial assets to help my executor administer my
            estate. While this is accurate at the time of writing, it is not necessarily
            exhaustive. Effort should still be made to locate additional assets that may not
            be listed here.
		</p>
	</div>
    <div >
		<p style="font-size:14.2px; color:#000000">PROPERTY</p>
            <table style="text-align : center; font-family: TheSansPlain;border-collapse: collapse;font-size: 10px; table-layout:fixed;">
                <tr>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 120px">Development Name</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 120px">Property Type</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 120px">Registered Address</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 120px">Sole/Joint</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 120px">Approximate Value</th>
                  </tr>
            </table>
			<table style="text-align : center; font-family: TheSansPlain;border-collapse: collapse;font-size: 10px; table-layout:fixed;">	
			<% if (user.properties.length > 0) { %>
				<% user.properties.forEach((user,index) => {%>
					<% if(index % 2 === 0) { %>
						<tr>
							<td class="first" style="width: 120px"><%= user.joint_name %></td>
							<td class="first" style="width: 120px"><% if(user.is_joint) {%>joint<%}%> <% if(user.is_solely) {%>solely<%}%></td>
							<td class="first" style="width: 120px"><%= user.address_line_1 %></td>
							<td class="first" style="width: 120px"><% if(user.is_joint) {%>joint<%}%> <% if(user.is_solely) {%>solely<%}%></td>
							<td class="first" style="width: 120px"><%= currency.format(user.outstanding_loan_amount) %></td>
						</tr>
						<%}%>
						<% if(index % 2 !== 0) {%>
						<tr>
							<td class="second" style="width: 120px"><%= user.joint_name %></td>
							<td class="second" style="width: 120px"><% if(user.is_joint) {%>joint<%}%> <% if(user.is_solely) {%>solely<%}%></td>
							<td class="second" style="width: 120px"><%= user.address_line_1 %></td>
							<td class="second" style="width: 120px"><% if(user.is_joint) {%>joint<%}%> <% if(user.is_solely) {%>solely<%}%></td>
							<td class="second" style="width: 120px"><%= currency.format(user.outstanding_loan_amount) %></td>
						</tr>
						<%}%>
			<%	});%>
			<% }%>
		</table>
    </div>

	<div style="">
		<p style="font-size:14.2px; color:#000000">BANK ACCOUNTS</p>
            <table style="text-align : center; font-family: TheSansPlain;border-collapse: collapse;font-size: 10px; table-layout:fixed;">
                <tr>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 150px">Bank Name</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 150px">Account Number</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 150px">Sole/Joint</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 152px">Approximate Balance</th>
                  </tr>
            </table>	
			<table style="text-align : center; font-family: TheSansPlain;border-collapse: collapse;font-size: 10px; table-layout:fixed;">
				<% if (user.bank_accounts.length > 0) { %>
					<% user.bank_accounts.forEach((user,index) => {%>
						<% if(index % 2 === 0) { %>
							<tr>
								<td class="first"><%= user.account_holder %></td>
								<td class="first"><%= user.account_no %></td>
								<td class="first"><% if(user.is_joint) {%>joint<%}%> <% if(user.is_solely) {%>solely<%}%></td>
								<td class="first" style="width: 152px"><%= currency.format(user.current_balance) %></td>
							</tr>
							<%}%>
							<% if(index % 2 !== 0) {%>
								<tr>
									<td class="second"><%= user.account_holder %></td>
									<td class="second"><%= user.account_no %></td>
									<td class="second"><% if(user.is_joint) {%>joint<%}%> <% if(user.is_solely) {%>solely<%}%></td>
									<td class="second" style="width: 152px"><%= currency.format(user.current_balance) %></td>
								</tr>
							<%}%>
					<%	});%>
				<% }%>
			</table>
    </div>

	<div style="">
		<p style="font-size:14.2px; color:#000000">INSURANCE POLICY</p>
            <table style="text-align : center; font-family: TheSansPlain;border-collapse: collapse;font-size: 10px; table-layout:fixed;">
                <tr>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 120px">Insurance Company</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 120px">Policy Type</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 120px">Policy Name</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 120px">Policy Number</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 120px">Death Coverage</th>
                  </tr>
            </table>	
			<table style="text-align : center; font-family: TheSansPlain;border-collapse: collapse;font-size: 10px; table-layout:fixed;">	
			<% if (user.insurance_policies.length > 0) { %>
				<% user.insurance_policies.forEach((user, index) => {%>
					<% if(index % 2 === 0) { %>
						<tr>
							<td class="first" style="width: 120px"><%= user.insurance_company %></td>
							<td class="first" style="width: 120px"><% if(user.is_nominated) {%>nominated<%}%> <% if(user.is_non_nomivated) {%>non nomivated<%}%></td>
							<td class="first" style="width: 120px"><%= user.policy_name %></td>
							<td class="first" style="width: 120px"><%= user.policy_no %></td>
							<td class="first" style="width: 120px"><%= currency.format(user.converage) %></td>
						</tr>
						<%}%>
						<% if(index % 2 !== 0) {%>
							<tr>
								<td class="second" style="width: 120px"><%= user.insurance_company %></td>
								<td class="second" style="width: 120px"><% if(user.is_nominated) {%>nomivated<%}%> <% if(user.is_non_nomivated) {%>non nomivated<%}%></td>
								<td class="second" style="width: 120px"><%= user.policy_name %></td>
								<td class="second" style="width: 120px"><%= user.policy_no %></td>
								<td class="second" style="width: 120px"><%= currency.format(user.converage) %></td>
							</tr>
					<%}%>
			<%	});%>
			<% }%>
		</table>
    </div>

	<div style="">
		<p style="font-size:14.2px; color:#000000; ">INVESTMENTS</p>
            <table style="text-align: center; font-family: TheSansPlain;border-collapse: collapse;font-size: 10px; table-layout:fixed">
                <tr>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 150px">Investment Type</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 150px">financial Institution</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 150px">Account Number</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 152px">Approximate Market Value</th>
                  </tr>
            </table>	
			<table style="text-align : center; font-family: TheSansPlain;border-collapse: collapse;font-size: 10px; table-layout:fixed;">
				<% if (user.investments.length > 0) { %>
					<% user.investments.forEach((user,index) => {%>
						<% if(index % 2 === 0) { %>
							<tr>
								<td class="first"><%= user.investmentType %></td>
								<td class="first"><%= user.financial_institutions %></td>
								<td class="first"><%= user.account_no %></td>
								<td class="first" style="width: 152px"><%= currency.format(user.current_market_value) %></td>
							</tr>
							<%}%>
							<% if(index % 2 !== 0) {%>
							<tr>
								<td class= "second"> <%= user.investmentType %></td>  
								<td class= "second"> <%= user.financial_institutions %></td>
								<td class= "second"> <%= user.account_no %></td>
								<td class= "second" style="width: 152px"><%= currency.format(user.current_market_value) %> </td>
							</tr>	
						<%}%>
				<%	});%>
				<% }%>
			</table>
    </div>

	<div style="">
			<p style="font-size:14.2px; color:#000000">BUSINESS INTERESTS</p>
            <table style="text-align : center; font-family: TheSansPlain;border-collapse: collapse;font-size: 10px; table-layout:fixed;">
                <tr>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 150px">Company Name</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 150px">Company UEN</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 150px">Shareholdings</th>
                    <th style=" border: 1px solid #dddddd;text-align: center; width: 152px">Approximate Market Value</th>
                  </tr>
            </table>	
			<table style="text-align : center; font-family: TheSansPlain;border-collapse: collapse;font-size: 10px; table-layout:fixed;">
				<% if (user.business_interests.length > 0) { %>
					<% user.business_interests.forEach( (user, index) => {%>
						<% if(index % 2 === 0) { %>
						<tr>
							<td class= "first"> <%= user.company_name %></td>  
							<td class= "first"> <%= user.company_uen %></td>
							<td class= "first"> <%= user.percentage_share %></td>
							<td class= "first" style="width: 152px"> <%= currency.format(user.estimated_current_market_value) %> </td>
						</tr>
						<%}%>
						<% if(index % 2 !== 0) {%>
						<tr>
							<td class= "second"> <%= user.company_name %></td>  
							<td class= "second"> <%= user.company_uen %></td>
							<td class= "second"> <%= user.percentage_share %></td>
							<td class= "second" style="width: 152px"> <% currency.format(user.estimated_current_market_value) %> </td>
						</tr>	
						<%}%>
				<%	});%>
				<% }%>
			</table>
    </div>
</div>
<div id="pageFooter" style="width: 615px; margin-left: 20mm; margin-right: 25mm;padding-top: 40mm;">
	<div style="width: 50%; float:right;">
		<hr style="height:1px;border-width:0;color:white;background-color:white;width:60%;text-align:left;margin-left:0; margin-bottom: 0">
		<p style="font-family:TheSansPlain; font-size:14px; color:#000000; float: right; margin-top: 0;right: 0; bottom: 0;">
			Page {{page}} of {{pages}}
		</p>
	</div>
</div>
<div id="pageFooter-2" style="margin-left: 10mm; margin-right: 10mm;padding-top: 40mm;">
	<div style="float:left;">
		<hr style="height:1px;border-width:0;color:gray;background-color:black;width:60%;text-align:left;margin-left:0; margin-bottom: 0">
		<p style="font-family:TheSansPlain; font-size:14px; color:#000000; margin-top: 0;">
			Signed by <%= user.full_legal_name %>	
		</p>
	</div>
	<div style="float:right;">
		<hr style="height:1px;border-width:0;color:white;background-color:white;width:60%;text-align:left;margin-left:0; margin-bottom: 0">
		<p style="font-family:TheSansPlain; font-size:14px; color:#000000; float: right; margin-top: 0;right: 0; bottom: 0;">
			Page {{page}} of {{pages}}
		</p>
	</div>
</div>
<div id="pageFooter-first" style=" margin-left: 10mm; margin-right: 10mm;padding-top: 40mm;">
	<div style=" float:left;">
		<hr style="height:1px;border-width:0;color:gray;background-color:black;width:60%;text-align:left;margin-left:0; margin-bottom: 0">
		<p style="font-family:TheSansPlain; font-size:14px; color:#000000; margin-top: 0;">
			Signed by <%= user.full_legal_name %>	
		</p>
	</div>
	<div style=" float:right;">
		<hr style="height:1px;border-width:0;color:white;background-color:white;width:60%;text-align:left;margin-left:0; margin-bottom: 0">
		<p style="font-family:TheSansPlain; font-size:14px; color:#000000; float: right; margin-top: 0;right: 0; bottom: 0;">
			Page {{page}} of {{pages}}
		</p>
	</div>
</div>
<div id="pageFooter-3" style=" margin-left: 10mm; margin-right: 10mm;padding-top: 40mm;">
	<div style="float:left;">
		<hr style="height:1px;border-width:0;color:gray;background-color:black;width:60%;text-align:left;margin-left:0; margin-bottom: 0">
		<p style="font-family:TheSansPlain; font-size:14px; color:#000000; margin-top: 0;">
			Signed by <%= user.full_legal_name %>	
		</p>
	</div>
	<div style="float:right;">
		<hr style="height:1px;border-width:0;color:white;background-color:white;width:60%;text-align:left;margin-left:0; margin-bottom: 0">
		<p style="font-family:TheSansPlain; font-size:14px; color:#000000; float: right; margin-top: 0;right: 0; bottom: 0;">
			Page {{page}} of {{pages}}
		</p>
	</div>
</div>
</body>
</html>

